<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editorial Epectacular</title>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <!-- Header -->
    
    <%- include('partials/header')%>

    <!-- HOME TITLE -->
    <section class="home-title-box">
        <h4 class="stars mt-3">⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧  ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧ ⌒ ⛦ ⌒ ⛧</h4>
    </section>

    <%- include('partials/card')%>

    

</body>
</html>