* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.Header-container nav div ul li a p,
.Header-container nav button span i{
   color :white;
}
.Header-container{
    border-bottom: solid 5px white;
}

.Header-mid-container a p{
   color: white;
}
.navbar-toggler{
   background-color:white;
}