@font-face {
    font-family: 'Market-Deco';
    src: url(../fonts/Market_Deco.ttf);
}

@font-face {
    font-family: 'Amender-Tu';
    src: url(../fonts/Amender_Tu.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    background-image: url("../images/background/textura-oscura-acuarela.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

/* Navbar */
.navbar-home {
    padding: .8rem;
    display: flex;
    justify-content: end;
}

.link-cafecito {
    color: #00FFF0;
}

/* Home Title */
.home-title-box {
    display: flex;
    flex-direction: column;
}

.stars {
    text-align: center;
    color: #00FFF0;
}

.box-title {
    /* background-color: #FAFF1A; */
    width: 100%;
    /* height: 110px; */
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 0 2rem 2rem 0;
}

.title {
    font-family: 'Amender-Tu', sans-serif;
    color:#FAFF1A;
    font-size: 8rem;
    margin-right: 2rem;
    padding-top: 1rem;
}

.box-subtitle {
    width: 40%;
    text-align: end;
    margin-left: 500px;
}

.home-subtitle {
    font-size: 20px;
    font-style: italic;
    color: seashell;
}

/* Home Content */
.box-home {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fanz-box {
    width: 750px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


.fanz-box figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* .fanz-box figure img {
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
} */

/* .fanz-box figure .txt-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 0px;
    width: 430px;
    height: 430px;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
} */

/* figure:hover .txt-d {
    opacity: 1;
    visibility: visible;
} */

.f-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 25px;
    padding-right: 10px;
}

.fanz-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-body {
    background-image: url("../images/background/textura-oscura-acuarela.jpg");
    box-shadow: rgba(133, 132, 132, 0.836) 0px 5px 15px;
}

.card-text {
    color:white;
}
.btn-1 {
    padding: 10px 30px;
    background: yellowgreen;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.btn-1::after .btn-1::before {
    content: "";
    position: absolute;
    opacity: 0.9;
    background: white;
    border-radius: inherit;
    width:100px;
    height: 100px;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition:transform 0.3s ease;
}
.btn-1:hover{
    transform: translate(
        -12px , -12px
    );
}
.btn-1:hover::after{
    transform: translate(
        -6px , -6px
    );
}

.btn-1:hover::before{
    transform: translate(
        -12px , -12px
    );
}

@media (max-width : 480px) {
    .title {
        font-size: 4rem;
    }
}
