body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    background-image: url("../images/background/textura-oscura-acuarela.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.home-title {
    color: red;
    font-size: 4rem;
    margin-right: 2rem;
    padding-top: 10px;
}

.box-title {
    background-color: yellow;
    width: 80%;
    height: 110px;
    text-align: end;
}

.stars {
    color: aliceblue;
}

.home-subtitle {
    font-size: 20px;
    font-style: italic;
    color: seashell;
}

.box-subtitle {
    width: 40%;
    text-align: end;
    margin-left: 500px;
}

.box-home {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fanz-box {
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    border-radius: 5px;
}

.fanz-box figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.fanz-box figure img {
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
}

.fanz-box figure .txt-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 0px;     /* Con absolute agregar una posicion con top sino no lo toma */
    width: 430px;
    height: 430px;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

figure:hover .txt-d {
    opacity: 1;
    visibility: visible;
}

.f-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 25px;
    padding-right: 10px;
}

.fanz-title {
    font-size: 1.2rem;
    font-weight: bold;
}