<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/header.css">
<header class="Header-container">
  <nav class="Header-mid-container navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">editorial espectacular</a>
    <button class="" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span ><i class="fas fa-bars"></i></span>
    </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link link-cafecito" href="#">Propina👒☕</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/login">Login😎🎀⚡</a>
            </li>
          </ul>
        </div>
      </nav>
    
    </header>
</html>